<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valentines</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>YAAAAAAA!</h1>
    <h1>After {{nos}} Tries</h1>
    <br>
    <div class = "container">
        <img src = "../static/tkthao219-bubududu.gif" length = "450" width = "450" alt = "Image">
        <img src = "../static/Get-Bubu-Dudu-store.png" alt = "Image"> 
    </div>
</body>
</html>